*{
    margin: 0;
    padding: 0;
}
.container-heder-bg{
    background-color: #FFF8F3;
}
.container-wrap{
    width: 1440px;
    margin: auto;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.logo-color{
    color: #FD6E0A;
}
.banner-bg{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(77, 75, 75);
}
.nav-bg{
    display: flex;
}

.btn-primary{
    padding: 15px 35px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-container-bg{
    text-align: center;
    padding: 100px 0px;
}
.about-bg{
    background-color: #FFF8F3;
    padding: 100px 100px;
    border-radius: 15px;
}
.contact-info{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.skill-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resume{
    padding: 50px 0px;
}
.summary-resume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}

.resume-box1{
    width: 500px;
    border-bottom: .5px solid gray;

}


.footer-container-bg{
    background-color: #FFF8F3;
    padding: 100px 0px;
    border-bottom: 25px solid #FD6E0A;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}